.task {
    width: 95%;
    border: 1px solid black;
}

.task > div {
    margin-left: auto;
}

.showtask {
    width: 65%;
    margin-left: 17%;
    border: 1px solid black;
}
.btn-radious {
    border-radius: 15px;
}